# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [29]:
import pandas as pd
import numpy as np

## Imports for Python, Pandas

In [30]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [31]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [32]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [33]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [34]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))
print("JSON has been loaded.")

JSON has been loaded.

In [35]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df['mjtheme_namecode']

0    [{'name': 'Human development', 'code': '8'}, {...
1    [{'name': 'Economic management', 'code': '1'},...
Name: mjtheme_namecode, dtype: object

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 10 Countries with Most Projects

We need to find the 10 countries with the most projects.

The first step to doing this is loading the World Bank Projects JSON file into a Pandas dataframe for analysis.
This is followed by grouping the records by the country name, counting the number of instances, sorting them and outputting the first ten. 

This output will be the top 10 countries with the most projects. We discover that China has the most prorjects followed by Indonesia, Vietnam and India.

In [36]:
#Read the JSON file and load it into a Pandas dataframe
df = pd.read_json('data/world_bank_projects.json')

#10 countries with most projects
df.groupby('countryname').size().sort_values(ascending=False)[:10]

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

## Filling Missing Data and Finding Top 10 Project Themes

There are some samples for which the project theme name is missing. We, however, have the project code for every row. Therefore, we need to fill in the missing values in a certain way before carrying out our analysis.

In [37]:
data = json.load((open('data/world_bank_projects.json')))
df2 = json_normalize(data, 'mjtheme_namecode')
df2.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

The first step is to get a list of all the projects and their related codes.

In [38]:
projects = df2[['code', 'name']].drop_duplicates().query("name != ''")
projects

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In order to fill the missing values, we perform a pandas merge of our original dataframe and the projects dataframe on the 'code' column. This will give us two columns, 'name_x' and 'name_y'. 'name_y' will be the original 'name' column filled with all the missing values.

We then proceed to remove the 'name_x' column and rename 'name_y' to 'name'.

The final step is to group by the project name, calculate the size, sort the fields by size and output the first 10 instances.

We discover that 'Environment and natural resources management' has the most number of projects under its theme, followed by Rural development, Human development and Public Sector Governance.

In [39]:
df3 = df2.merge(projects, on='code')
df3 = df3[['code', 'name_y']]
df3.columns = ['code', 'name']
df3.head()
df3.groupby('name').size().sort_values(ascending=False)[:10]

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
dtype: int64